<div class="cards-container" #cardsContainer>
  <div *ngFor="let item of cartas; let i = index" [ngClass]="{'card-selected': (i == card && !expand), 'card': (i!=card), 'card-expanded': (i == card && expand)}" style="--i: {{i}}" [id]="i" (click)="showCard(i)" >

    <mat-icon class="back" (click)="resetAnimaton()" *ngIf="i == card && expand">arrow_back</mat-icon>
    <div>{{i}}</div>

    <div class="img">
      <img src="assets/conversacion_prueba.jpg">

      <img src="assets/conversacion_prueba.jpg" *ngIf="expand && i=== card">

      <img src="assets/conversacion_prueba.jpg" *ngIf="expand && i=== card">

      <span class="band1"></span>
      <span class="band2"></span>
      <span class="band3"></span>
      <span class="band4"></span>

    </div>

    <div class="rombos">
      <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span> 
    </div>

    <div class="text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam... 
      </p>
    </div>

    <div class="footer">
        <div>
        </div>
    </div>

  </div>

</div>